

@model IEnumerable<AspNetCore22Mvc.Models.ApplicationUser>

@{
    ViewData["Title"] = "User Profiles";
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>User Management</h3>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>User Profiles</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <select id="ddOptions" class="select2_multiple form-control" tabindex="-1">
                                    <option value="All">All User</option>
                                    <option value="6">Locked</option>
                                    <option value="6">Unlocked</option>
                                    <option value="7">Pending</option>
                                    <option value="7">Approved</option>
                                </select>
                            </li>
                            <li>
                                <a asp-action="Create" style="margin-left: 5px;" class="btn btn-primary">Add User</a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr class="headings">
                                    <th class="column-title">
                                        @Html.DisplayNameFor(model =>model.UserName)
                                    </th>
                                    <th class="column-title">
                                        @Html.DisplayNameFor(model => model.Email)
                                    </th>
                                    <th class="column-title">
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th class="column-title">
                                        @Html.DisplayNameFor(model => model.Surname)
                                    </th>
                                    <th class="column-title">
                                        @Html.DisplayNameFor(model => model.Organisation)
                                    </th>
                                    <th class="column-title">
                                        @Html.DisplayNameFor(model => model.Position)
                                    </th>
                                    <th class="column-title">
                                        Status
                                    </th>
                                    <th class="column-title">
                                        @Html.DisplayNameFor(model => model.isApproved)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.Id">
                                                @Html.DisplayFor(modelItem => item.UserName, new { disabled = "disabled", @readonly = "readonly" })

                                            </a>
                                        </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                        @{
                                            if (item.EmailConfirmed)
                                            {
                                                <i class="fa fa-check-circle green" title="Verified"></i>
                                            }
                                        }
                                    </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Surname)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Organisation)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Position)
                                        </td>
                                        <td>
                                            @{
                                                if (item.LockoutEnd > DateTime.UtcNow)
                                                {
                                                    <span class='badge badge-danger'>Locked</span>
                                                }
                                                else
                                                {
                                                    <span class='badge badge-success'>Unlocked</span>
                                                }
                                            }
                                        </td>
                                        <td>
                                            @{
                                                if (item.isApproved)
                                                {
                                                    <span class='badge badge-success'><i class="fa fa-check"></i> Approved</span>
                                                }
                                                else
                                                {
                                                    <span class='badge badge-danger'><i class="fa fa-close"></i> Pending</span>
                                                }
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#datatable').DataTable();

        var table = $('#datatable').DataTable();
        $('#ddOptions').on('change', function () {
            var col = $('#ddOptions').val();
            var keyword = $("#ddOptions option:selected").text();
            table.columns().search('').draw();
            table
                .columns(col)
                .search(keyword,true,true,false)
                .draw();
        });
    });

</script>